---
layout: default
main: true
title: "nitkori"
description: "nitkori"
---
{% include nav.html %}
<div class="zero-waste">
    <div class="inner">
        <div class="image">
            <img src="assets/img/home/zero-waste.png" alt="Zero Waste Online Shop">
        </div>
        <div class="description exp">
            <p class="title">Zero-waste Online Shop</p>
            <p class="subtitle date">2021</p>
            <p class="subtitle">Web design & develop</p>
        </div>
    </div>
</div>
<div class="project-grid">
    <div>
        <img src="assets/img/home/electric-bike.png">
        <div class="description">
            <p class="title">Electric bike rent service</p>
            <p class="subtitle date">2021</p>
            <p class="subtitle">App design</p>
        </div>
    </div>
    <div>
        <img src="assets/img/home/natural-disasters.png">
        <div class="description">
            <p class="title">Natural Disasters notice app</p>
            <p class="subtitle date">2020</p>
            <p class="subtitle">App design</p>
        </div>
    </div>
    <div>
        <img src="assets/img/home/battery-pack.png">
        <div class="description">
            <p class="title">Battery Pack rent service</p>
            <p class="subtitle date">2020</p>
            <p class="subtitle">App design & develop</p>
        </div>
    </div>
    <div>
        <img src="assets/img/home/online-study.png">
        <div class="description">
            <p class="title">Online Study Platform</p>
            <p class="subtitle date">2020</p>
            <p class="subtitle">Web design</p>
        </div>
    </div>
    <div>
        <img src="assets/img/home/living-product.png">
        <div class="description">
            <p class="title">Living product Brand</p>
            <p class="subtitle date">2019</p>
            <p class="subtitle">Copy & CP design</p>
        </div>
    </div>
    <div>
        <img src="assets/img/home/iot-device.png">
        <div class="description">
            <p class="title">IOT Device Control app</p>
            <p class="subtitle date">2019</p>
            <p class="subtitle">App design</p>
        </div>
    </div>
    <div>
        <img src="assets/img/home/living-product-copy.png">
        <div class="description">
            <p class="title">Living product Brand</p>
            <p class="subtitle date">2018</p>
            <p class="subtitle">Copy & CP design</p>
        </div>
    </div>
    <div>
        <img src="assets/img/home/baby-monitor.png">
        <div class="description">
            <p class="title">Baby Monitor App</p>
            <p class="subtitle date">2018</p>
            <p class="subtitle">App design</p>
        </div>
    </div>
</div>
{% include footer.html %}