<footer>
    <div class="footer-outer">
        <div class="footer-contents">
            <a class="copyright">© 2018 - 2021 nitkori</a>
            <ul>
                <li>
                    <div><a href="/">Work</a></div>
                </li>
                <li>
                    <div><a href="/blog">Blog</a></div>
                </li>
                <li>
                    <div><a href="/contact">Contact</a></div>
                </li>
            </ul>
            <a class="to-top" href="#"><u>Up to page</u></a>
        </div>
    </div>
</footer>