.contact-grid {
  display: grid;
  grid-template-columns: 420px 1fr;
  height: 100%;

  @media (max-width: $break-medium) {
    display: initial;
    grid-template-columns: 1fr;
  }
}

.cover {
  height: 100vh;
  overflow: hidden;
  background: url(/assets/img/contact/wall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.over {
  display: initial;
  position: absolute;
  margin-top: 220px;
  margin-left: 7%;

  @media (max-width: $break-medium) {
    display: none;
  }
}

.contact-info {
  font-size: 15px;

  .location {
    font-weight: bold;
  }

  .email {
    font-size: 14px;
  }

  .email-link {
    margin-top: 64px;
    padding: 12px 36px;
    background: #18171A;
    color: white;
    font-size: 13px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transform: scale(1.0);
    transition: all ease-in-out 0.2s;
  }

  .email-link:hover {
    transform: scale(1.025);
  }
}

.mobile {
  position: relative;
  margin: 20px 7%;

  .email {
    margin-top: 14px;
  }

  .email-link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 0;
    padding: 12px 24px;
  }
}

.contact-footer {
  position: absolute;
  display: block;
  bottom: 0;
  margin-bottom: 60px;
  margin-left: 7%;
  font-size: 14px;

  @media (max-width: $break-medium) {
    display: none;
  }
}

hr {
  margin: 0 7%;
  background-color: black;
  opacity: 0.2;
}

.grid-info {
  .inner {
    padding-top: 131px;
    padding-bottom: 28px;
    visibility: hidden;

    @media (max-width: $break-medium) {
      visibility: visible;
    }
  }
}