@font-face {
  font-family: 'Coolvetica-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Coolvetica-Regular'), url('/assets/fonts/coolvetica.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');